 <style>


        .logbox{
            width: 430px;
        }

        .content{
            clear: both;
        }


        .activity .actual{
            position: relative;
            top: -100px;
        }
        .activity .actual span{
            font-size: 20px;
        }
        .queue .bar{
            width:620px;
            height: 40px;
        }
        .queue .bar div{
            display: inline-block;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .queue .pending, .queue .assigned{
            background-color: green;
        }
        .queue .ready, .queue  .processing{
            background-color: rgba(00,165,0,1);
        }
        .queue .overdue{
            background-color: rgba(00,0,0,1);
            color:white;
        }
        .queue .bar .ready, .queue .bar .assigned{
            width: 60px;
        }
        .queue .bar .processing{
            width:300px;
        }
        .queue .bar .pending, .queue .bar .overdue{
            width: 90px;
        }
        .queue .bar .detail {
            display: none;
            position: absolute;
            height: 60px;
            width: 150px;
            border-radius: 10px;
            color:white;
        }
        .queue .color{
            width: 10px;
            display: inline-block;
        }
        .queue .number{
            display:inline-block;width:200px;
        }

    </style>


<script>


  jQuery(document).ready(function() {
             $('#daterange').daterangepicker({
                "startDate": "07/14/2016",
                "endDate": "08/14/2016"
            }, function(start, end, label) {
              console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
            });


           $('.bar div').mouseenter(function(){
                $(this).find('.detail').css('display', 'block');
            });
           $('.bar div').mouseleave(function(){
                $(this).find('.detail').css('display', 'none');
            });
        });
</script>

    <h4>  Queue Status </h4>
    <div class="queue" id="order_status">
        <div class="bar">
            <div id="ready" class="ready"> 2   <div class="detail ready"> this is details about ready</div></div>
            <div id="assigned" class="assigned"> 3  <div class="detail assigned"> this is details about assigned</div></div>
            <div id="processing" class="processing"> 10   <div class="detail processing"> this is details about processing</div></div>
            <div id="pending" class="pending"> 2 <div class="detail pending"> this is details about pending</div></div>
            <div id="overdue" class="overdue"> 3 <div class="detail overdue"> this is details about overdue</div></div>
        </div>

        <div> <span> Total Orders : </span> <span> 20 </span></div>
        <div class="number">
            <div> <div class="color ready"> &nbsp;</div> <span> Ready : </span> <span> 2 (10%)</span></div>
            <div> <div class="color assigned"> &nbsp;</div><span> Assigned : </span> <span> 3 (15%)</span></div>
        </div>
        <div class="number">
            <div> <div class="color processing"> &nbsp;</div><span> Orders in Process : </span> <span> 10 (50%) </span></div>
            <div> <div class="color pending"> &nbsp;</div><span> Pending Orders : </span> <span> 2 (10%)</span></div>

        </div>
        <div class="number">

            <div> <div class="color overdue"> &nbsp;</div><span> Overdue Orders : </span> <span> 3 (15%)</span></div>
        </div>
    </div>
