

<div class="chart-wrapper">
        <h3>  Order  / Completion  </h3>
        <div class="period" > 
            <select id="order-complete"> 
            <option value="month"> Monthly </option>
            <option value="week"> Weekly </option>
            <option value="day"> Daily </option></select> 
        </div>
       <div id="order_completion" class="chart-area"></div>
</div>
<script type="text/javascript">
    var area_Data =[
         ['Month', 'orders', 'completion'],
         ['2015/12',  2,      0            ],
         ['2016/01',  4,      1            ],
         ['2016/02',  8,      4        ],
         ['2016/03',  10,      6],
         ['2016/04',  10,      4            ],
         ['2016/05',  9,      10            ],
         ['2016/06',  8,      10        ],
         ['2016/07',  10,      10]
      ];
    var area_options = {'options': {
                    title : 'Monthly Order / Completion  ',
                    vAxis: {title: 'Orders'},
                       hAxis: {title: 'Month'},
                      colors: ['green', 'blue'],
                      backgroundColor: 'transparent',
                      legend:{position:'bottom'},
                      
            }, 'extra':'extra'};
    draw_order_completion = function(){
        
        areaChart('order_completion', area_Data, area_options);
    }

 jQuery(document).ready(function() {

        draw_order_completion();
 });
</script>