{% extends "tracker/tracker_base.html" %}
{% block content %}

<style type="text/css">
.gridStyle {
    height: 600px;
}

</style>
<script type="text/javascript">
	  gimpdevApp.controller('trackerController', ['$scope', '$filter', function($scope, $filter) {
                {% autoescape off %}

 if(window.location.hostname =='gims-dev.shc.org'){
                
 }                        
                 {% endautoescape %}



    }]);

</script>

<div ng-controller="trackerController" class="com">
<!-- <div class="sub-menu">
    <div class="active menu"> samples </div> <div class="menu"> <a href="{% url 'orders' %}"> orders </a> </div>
</div> -->
<div class="sub-menu">
    <div class="sub-title"> {{title}} </div>
    <div class="text-center"> <img src="/static/IMAGES/under-construction.png" width="400" alt="under construction" /> </div>
</div>
<div class="data">


</div>
</div>
{% endblock content %}