{% extends "base.html" %}
{% block content %}
<!-- <script src="/static/JS/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({selector:'textarea',
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
      toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons', 
});</script> -->
<style type="text/css">
	h1 {
		margin: 50px auto;
	}
	form label{
			width: 20%;
			margin: 10px 50px;
			vertical-align: top;
	} 
	form input , form textarea{
		width: 60%;
	}
</style>
<div class="container"> 
<h1 class="text-center"> Announcement</h1>
            <form action="/announce/" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="text-center"> 
                 <button class="btn btn-primary"> Save </button> 
                 <button type="button" class="btn"> <a href="/ " > Cancel </a> </button>
                 </div>
            </form>
 </div>
 {% endblock content %}