{% comment %}
    This is for common menu in left for all the pages. 
    
    last update - remove run analyses(LOOM) from R5.2
    by Young Park 01/27/2022

{% endcomment %}


<style type="text/css">
.slide-menu .menu.top-menu{
    margin:60px 0 20px;
}
.slide-menu .menu a{
    width: auto;
}
</style>
                 
<div class="slide-menu" style="">
    
            <div class="menu top-menu">
                <a href="/" id="left-menu-home"><img src="/static/IMAGES/icon-home.png" class="icon" /> HOME </a>
            </div>

            <div class="menu">
                    <p> </p>
            </div>
            <div class="menu">
                    <a href="/Info/" id="header-btn-orders"> Info </a>
                 <div class="sub-menu worklist role-control Manager Interpretation">
                    <a href="/Info/Content/add/"> Add </a>
                </div>

            </div>

            
            <div class="menu">
                <a href="/admin/" id="header-btn-admin"> Admin </a>
                <div class="sub-menu">
                    <a href="/Info/Categories"> Category </a>
                </div>
            </div>
            <div class="menu">
                <div class="role-control Manager">
                </div>
            </div>
                


                 
</div>
