/* base */
body{
    background: linear-gradient(120deg,#d0d5dd 0,#f6f7f8 52%,#d0d5dd 100%);
}
a:hover {
    text-decoration: none;
}

.container, .container-fluid{               /* main block containers  for top menu */
    margin-top:100px;
    margin-bottom: 30px; 
}

.icon {
    width: 50px;
    padding-right: 10px;
}
form select{
    -webkit-appearance: menulist-button;
}
.right-button{
    float: right;
    margin: 3px;
}
.main-header {
  display: -webkit-flex; /* Safari */
  display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color:white;
  -webkit-justify-content: space-around;  /*Safari */
  justify-content:         space-around;    
      position: fixed;
      height: 80px;
    top: 0;
    z-index: 99;
    width: 100%;
}
.main-header .logo-section{
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.main-header .menu-section{
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.main-header .user{
    text-transform: capitalize;
}
.main-header .logo{
    margin:5px 10px;
}

.mainblock{
    display: flex;
    justify-content: space-around;
}
.main-title{
    font-size: 30px;
    font-family: sans-serif;
    margin: auto;
    font-style: oblique;
    font-weight: bolder;
    padding-left: 15px;
 }
 .sub-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: rgb(0, 58, 121);
    text-transform: capitalize;
 }
.sub-sub-title{
    font-size: 18px;
    margin: 10px;
    color: rgb(0, 58, 121);
    text-transform: capitalize;
        font-weight: initial;
 }
.main-footer{
    position: relative;
    background-color: gainsboro;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.panel{
    padding:10px;
    margin: 20px auto;
    background-color: white;
    box-shadow: none;
}
.panel-dash { display:none; position:relative;}
.panel  .dashhide{
    right: 20px;
    top: 20px;
    position: absolute;
    z-index:50;
}
.panel .title{
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    text-transform: capitalize;
    font-weight:700;
 }
 .sidemenu-block .panel{
    /*border-top: solid 5px blue;*/
 }
 .sidemenu-block ul{
    padding-left: 0;

 }
.sidemenu-block li{
    list-style: none;
    margin: 10px auto;
    padding-left:10px
}
.messages li{
    color:rgba(0, 0,255, 1);
}
.messages li.error{
    color:red;
}
.dash-list ul{  padding:0; }
.dash-list li { 
    display:none;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.1);
    padding:5px 10px;
    border-radius: 10px;
}
.dash-list li.show{
    display:block;
    font-weight:bolder;
}
.main-block .panel{
    padding: 0 20px 20px 20px;
}

div.menu-wrapper{
    margin:10px auto;
    height:30px;
    clear:both;
    width: 800px;
}
div.menu-title {
    border:1px solid white;
    background-color:#c9cace;
    float:left;
    color:white;
    padding:1px;
    font-size:16px;
    width:300px;
    text-align:center;
    letter-spacing: 5px;
}

div.menu{
    padding: 5px;
    font-size: 16px;

}
a.menu {
    text-decoration: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    color: black;
}
a.button {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgba(204,204,204,0.5);
    border-radius: 5px;
}

div.menu a:hover, a.button:hover {
    color:blue;
}
div.menu a{
    text-decoration:none;
    font-weight:bolder;
    color:black;
}
.chart-wrapper{
    position:relative;
}
.chart-wrapper h4{
    margin: 25px auto;
}
.chart-wrapper .period{
    position: absolute;
    left: 80%;
    top: 0;
}
.chart-pie{
    width: 300px;
    height: 300px;
    border-radius:20px;
    overflow: hidden;
    margin: 5px 15px;
    display: inline-block;
}
.chart-area{
    width: 700px;
    height: 300px;
    border-radius:20px;
    overflow: hidden;
}
/* login */
.main_body, .login{
    padding: 20px;
    display: flex;
    min-height: 500px;
    flex-direction: column;
     -webkit-justify-content:center;
    justify-content: center;

}

#login_form label, #login_form input{
    padding:5px;
    margin:5px;
}

/* specfic types */
.announce .title, .news .title {
    color:red;
    font-weight:bolder;
}
/* tracker pages */
.tracker .sub-menu{
    display: flex;
    align-items: center;
}

.tracker .data{
    display: flex;
  -webkit-justify-content: space-between;  /*Safari */
  justify-content:         space-between; 
}
.tracker .list{
    width: 100%;
}
.tracker .detail .field{
    text-transform: uppercase;
    width: 100px;
    display: inline-block;
    height: 25px;
}
.tracker .detail .value{
    margin-left: 10px;
}
.menu-search{
	float: right;
	margin: 10px 0;
	display: flex;
}
.table-hover>tbody>tr:hover {
    background-color: rgb(223, 230, 184)
}

/* detail views */
.details .main-left,.details .main-right{
    display: inline-block;
    width: 49%;
    margin:0 auto;
}

.details-top {
    margin: 10px auto 40px;
    padding-left: 10px;
}
.details-top .main-left, .details-top .main-right {
         background-color: white;
              border-radius: 10px;
                  border: dotted 1px;
}
.details-top .label, .details-top .value{
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    text-transform: uppercase;
    color: black;
    text-align: left;
     display: inline-block;

     padding: 5px 10px;
     margin:2px;
     line-height: initial;

}
.details-top .value{

    text-transform: capitalize;

}

.orders.details .main {
    display: flex;
}

table  th {
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}

/* workflows */
.workflows table{
    background-color:white;
    max-height: 1600px;
}

.menu-search button{
    margin: 5px auto;
    float: right;
}

/* grid */
.ui-grid-row.active .ui-grid-cell{background:yellow}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell{background:yellow}
/* .ui-grid-row:nth-child(even) .ui-grid-cell{background:gray} */
.ui-grid-row:nth-child(even):hover .ui-grid-cell{background:yellow}

