{% extends "base.html" %}
{% block content %}

{% if user.is_active %}
logged in
<div ng-controller="shipmentController">
    <a href="{% url 'logout' %}" > Logout </a>
    <div class="menu-wrapper">
        <div class="menu">
            <a href="{% url 'orders' %}" target="_top"> 출 하- 수주등록 </a>
        </div>
        <div class="menu">
            <a href="{% url 'orders' %}" target="_top"> 출 하- 수 정 및조 회 </a>
        </div>
    </div>
    <div>
        <script type="text/javascript">
        var shipmentApp = angular.module('myApp', []);
        shipmentApp.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                 $interpolateProvider.endSymbol(']]');
        });
        shipmentApp.controller('shipmentController', function($scope) {
                {% autoescape off %}
                         $scope.shipment = JSON.parse('{{ customers }}');
                 {% endautoescape %}
      });

                {% autoescape off %}
            var obj = JSON.parse('{{ customers }}');
           {% endautoescape %}
        </script>
        <div  ng-repeat-start="item in shipment" >
                [[item]]
        </div>
        <div>
                [[item.fields]]
        </div>
        <div ng-repeat-end>

        </div>
        <ul>
            customer {{customers}} <br />
            {% autoescape off %}
                {{ customers }}
            {% endautoescape %}

            {% for customer in customers %}
                <div> {{customer.거래처명}}</div>
            {% endfor %}

            shipments {{ shipments}} <br />


            {% for shipment in shipments %}
            {{ request.session.shipment }}
                <li>
                    <a href="">
                        {{ shipment.거래처.거래처명 }}

                    </a>
                </li>
                         <li>
                    <a href="">
                        {{ shipment.현장.현장명}}
                    </a>
                </li>
                 <li>
                    <a href="">
                        {{ shipment.예정량}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
    <a href="{% url 'login' %}" > Login </a>
{% endif %}
{% endblock content %}