{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
logged in

    <ul>
        {{ request.session.shipment }}
        {% for shipment in request.session.shipments %}
        <li>
            <a href="">
                {{ shipment.거래처.거래처명 }}

            </a>
        </li>
                 <li>
            <a href="">
                {{ shipment.현장.현장명}}
            </a>
        </li>
         <li>
            <a href="">
                {{ shipment.예정량}}
            </a>
        </li>
        {% endfor %}
    </ul>

{% else %}
    <a href="{% url 'login' %}" > Login </a>
{% endif %}
{% endblock content %}