{% extends "base.html" %}
{% block content %}

{% if user.is_active %}
logged in
<a href="{% url 'logout' %}" > Logout </a>

    <ul>
        customer {{ customers}} <br />

        shipments {{ shipments}} <br />


        {% for shipment in shipments %}
        {{ request.session.shipment }}
        <li>
            <a href="">
                {{ shipment.거래처.거래처명 }}

            </a>
        </li>
                 <li>
            <a href="">
                {{ shipment.현장.현장명}}
            </a>
        </li>
         <li>
            <a href="">
                {{ shipment.예정량}}
            </a>
        </li>
        {% endfor %}
    </ul>

{% else %}
    <a href="{% url 'login' %}" > Login </a>
{% endif %}
{% endblock content %}