{% extends "base.html" %}
{% block content %}

{% if user.is_active %}
logged in to Orders
{{request.session.username}}
{{request.session.standard_names}}
{{orders}}
{{customers}}
{{c2}}
{{orders.count}}
   <script type="text/javascript">
        shipmentApp.controller('ordersController', function($scope) {
                {% autoescape off %}
                         $scope.orders = JSON.parse('{{ orders }}');
                         $scope.o2 = {{c2}};
                         $scope.customers = JSON.parse('{{ customers }}');
                 {% endautoescape %}
                   $scope.gridOptions = { data: 'orders' };
      });

        </script>
<style>

</style>
<div ng-controller="ordersController">
    <a href="{% url 'index' %}" > 첫화면 </a>
**orders**
    **o2**
    **customers**
     <div class="gridStyle" ng-grid="gridOptions"></div>

    <div class="menu-wrapper">
        <div class="menu title-wrapper">  <div class="menu-title">수 주 관 리</div></div>

        <div class="menu"> 등 록 </div>
        <div class="menu">  수 정 </div>

    </div>

    <form action="new-order" method="post" onsubmit="return false;">
        <div>
            <label for="datepicker" class="twoword"> 일 자 </label>
            <input type="text" name="order_date" id="datepicker" value="{{ order_date }}">
        </div>
        <div>
            <label for="order_number" class="twoword">순 번 </label>
            <input id="order_number" type="text" name="order_number" value="{{ order_number }}">
            </div>

<br />
        <div>
            <label for="order_customer" class="twoword">원 청 </label>
            <input id="order_customer_code" class="small" type="text" name="order_customer_code" value="{{ order_customer_code }}">
            <input id="order_customer"  class="med" type="text" name="order_customer" value="{{ order_customer }}">
        </div>
        <div>
            <label for="sub_customer" class="twoword">하 청 </label>
            <input id="sub_customer_code" class="small" type="text" name="order_customer_code" value="{{ sub_customer_code }}">
            <input id="sub_customer"  class="med" type="text" name="sub_customer" value="{{ sub_customer }}">
        </div>
        <div>
            <label for="site" class="twoword"> 현 장 </label>
            <input id="site_code" class="small" type="text" name="site_code" value="{{ site_code }}">
            <input id="site" class="med" type="text" name="site" value="{{ site }}">
        </div>
        <br/>
        <div>
        <label for="manager" class="threeword">담 당 자</label>
        <input id="manager" type="text" name="manager" value="{{ manager }}">
        </div>
        <div>
        <label for="agency" class="fourword">수 요 기 관 </label>
        <input id="agency" type="text" name="agency" value="{{ agency }}">
</div>
    </form>

    <div>  수 주 현 황</div>
    <div>

    </div>

        <div>
            [[orders]]
        </div>
        <div  ng-repeat-start="item in orders" >
                [[item]]
        </div>
        <div>
                [[item.fields]]
        </div>
        <div>
                    [[item.fields]]
        </div>
        <div ng-repeat-end>

        </div>

</div>
{% else %}
    <a href="{% url 'login' %}" > Login </a>
{% endif %}
{% endblock content %}