{% extends "base.html" %}
{% block content %}
{{customers}}
   <script type="text/javascript">
        shipmentApp.controller('customerController', function($scope) {
                {% autoescape off %}
                         $scope.customers = JSON.parse('{{ customers }}');
                 {% endautoescape %}
                  $scope.gridOptions = { data: 'customers' };
      });

        </script>
<div ng-controller="customerController">
        **customers**
    <a href="{% url 'index' %} "> back to item list </a>

    <div class="gridStyle" ng-grid="gridOptions"></div>

    <p> customers page </p>

    <h1>{{ customer.name | capfirst }}</h1>

</div>

{% endblock content %}