div.menu-wrapper{
    height:50px;
    clear:both;
}

div.menu-title {
    border:1px solid white;
    background-color:#c9cace;
    float:left;
    color:white;
    padding:1px;
    font-size:16px;
    width:300px;
    text-align:center;
    letter-spacing: 5px;
}
div.menu {
    border:1px solid black;
    background-color:#c9cace;
    padding:2px;
    float:left;
    font-size:16px;

}
div.menu.title-wrapper{
    padding:0;
}
div.menu:hover {
    background-color:gray;
}
div.menu a{
    text-decoration:none;
    font-weight:bolder;
    color:black;
}