{% extends "base.html" %}
{% block content %}



<style>
   
</style>
<script type="text/javascript">
    gimsApp.controller('contentController', ['$scope', function($scope) {
                {% autoescape off %}
                       // $scope.contents = {{contents}}
                 {% endautoescape %}


}]);


</script>
<div ng-controller="contentController" id="contentController" class="content">
<div class="sub-sub-title">  {{title}}

 </div>

<div class="contentslist" id="SfD_kinetic">
  <table class="table table-bordered table-striped table-hover" id="contentslist_table">
    <thead>
       <tr>

        <th>
         url
        </th>
        <th>
            title
        </th>
            <th>
         Content
        </th>
        <th>
            
        </th>
       </tr>
    </thead>
    <tbody>
       {% for content in contents %}
       <tr>
        
        <td>
            {{content}}
            {{content.url}}
            }
        </td>
        <td>
            {{content.title}}
        </td>
        <td class="content">
         {{content.contents}}
        </td>
                <td class="content">
         {{content.content_category.name}}
        </td>
        <td>
            {{content.tag}}
        </td>
       </tr>
       {% endfor %}
    </tbody>
  </table>
 </div>
{% endblock %}
