{% extends "workflows/workflows_base.html" %}


{% block content %}


<style>

td, th {
    padding: 5px;

}
.jjson-container {
	max-height: 800px;
    background-color: white;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: blue; }
</style>
<script type="text/javascript">
	gimpdevApp.controller('analysissController', ['$scope', '$sce', function($scope, $sce) {
		  var None = 'none';
                {% autoescape off %}
                            $scope.analysis = {{ analysis }};
                            
                 {% endautoescape %}
  if(window.location.hostname =='gims-dev.shc.org'){
                console.log( 'analysis', $scope.analysis);
                window.analysis = $scope.analysis;
 }


     $("#jjson").jJsonViewer($scope.analysis,{expanded: true});

    }]);



</script>
<div ng-controller="analysissController" class="analysiss">

<div class="">



	<div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-analyze.png" /> analysis : {$ analysis['template'] $}

	</div>  

	<div>


                 <div id="jjson" class="jjson"></div>


	</div>	
   



</div>

</div>

{% endblock %}
