{% extends "index_base.html" %}

{% block content %}



<style>
table{
	margin: 10px;
	background-color: white;
}
table tr td, table tbody tr th {
    padding: 5px;
 /*   border: solid 1px black !important;*/
    width:200px;

}
.step2, .step3{
	pointer-events: none;
}
.menu-search{
	float: right;
	margin: 10px 0;
	display: flex;
}
.menu-search button{
	
}
</style>
<script type="text/javascript">
	gimpdevApp.controller('workflowsController', ['$scope', function($scope) {
                {% autoescape off %}

                          $scope.workflows = {{ workflows }};
                          for(var i=0;i<$scope.workflows.length;i++){
                          	$scope.workflows[i].inputsJson = JSON.parse($scope.workflows[i].inputs);
                          }
                          $scope.runrequests = {{running}}.run_requests;
                         // $scope.sampleList=[];
                         $scope.samples = {{ samples }};
                         $scope.samplefiles = {{ samplefiles }};


                 {% endautoescape %}
if(window.location.hostname =='gims-dev.shc.org'){
                console.log('samples', $scope.samples, 'samplefiles', $scope.samplefiles, 'workflows', $scope.workflows);
 }
                 $scope.chooseWorkflow = function(wf){
                 		window.sessionStorage['wf'] = JSON.stringify(wf);
                 		var allwf = $('.wf');
                 		var cwf;
                 		for ( var i=0; i<allwf.length;i++){
                 			cwf = allwf[i];
                 			 if(cwf.id != wf.id ){
                 			 	$(cwf).removeClass('info');
                 			 }else{
                 			 	$('#'+wf.id).addClass('info');
                 			 }
                 			
                 		}
                 		
                 }
                 // Choose multiple samples
                 $scope.chooseSample = function(s){
                 	var c_samples = (window.sessionStorage.samples)? JSON.parse(window.sessionStorage.samples) : [];
                 	var c_samplefiles = (window.sessionStorage.samplefiles)? JSON.parse(window.sessionStorage.samplefiles) : {};

					var s_index = c_samples.indexOf(s.sample_id+'_'+s.order_id);
                 	if( s_index >= 0){
                 		console.log('yes');
                 		c_samples.splice(s_index, 1);
                 		$('#'+s.sample_id+'_'+s.order_id).removeClass('info');
                 	}else{
                 		console.log('none');
                 		c_samples.push(s.sample_id+'_'+s.order_id);

                 		$('#'+s.sample_id+'_'+s.order_id).addClass('info');
                 	}			
					window.sessionStorage.samples = JSON.stringify(c_samples);
                 }
                 $scope.findFiles = function(storageID){
                 	var filenames = '';
                 	var ids = storageID.split('_');
                 		for(var j=0; j<$scope.samplefiles.length;j++){
                 			if( ids[0] == $scope.samplefiles[j].sample_id && ids[1] == $scope.samplefiles[j].order_id ){
                 				filenames += 'file_name : ' + $scope.samplefiles[j].file_name +' <br /> file_type : ' + $scope.samplefiles[j].file_type +' <br /> File ID : '+ $scope.samplefiles[j].loom_id;	
                 			}
                 				
                 		}
                 		 
                 	console.log('filenames', filenames);
                 	return filenames;
                 }

                 $scope.getSampleName = function(storageID){
                 	var ids = storageID.split('_');
                 	for(var i=0; i<$scope.samples.length; i++){
                 		if($scope.samples[i].sample_id == ids[0] && $scope.samples[i].order_id == ids[1]){
                 			return $scope.samples[i].asn + '/' + $scope.samples[i].order_name;
                 		}
                 	}
                 }
                   $scope.goNext= function(step){
    	
				    	$('.'+step).css('pointer-events', 'all');
				    	$('.'+step).click();
				    	if(step =='step3'){
				    		var c_wf = JSON.parse(window.sessionStorage.wf);
				    		var innerHTML = '';
				    		// for(var i=0;i<c_wf.inputsJson.length; i++){
				    		// 	innerHTML += '<td>' + c_wf.name + ' </td>';
				    		// }
				    		innerHTML += '<td rowspan="'+c_wf.inputsJson.length+'">' + c_wf.name + ' </td>';

				    		var c_samples = JSON.parse(window.sessionStorage.samples);
				    		
				    		$('#rundiv').html(innerHTML);

				    		// $('#run_workflow').html(c_wf.name);
				    		// var c_samples = JSON.parse(window.sessionStorage.samples);
				    		// console.log(c_samples);
				    		// var sample_html = '<div>';

				    		// for(var i=0; i<c_samples.length;i++){
				    		// 	sample_html +=  $scope.getSampleName(c_samples[i]) + '<br />';
				    		// }
				    		// sample_html += '</div>'
				    		// $('#run_samples').html(sample_html);


				   			// var file_html = '<div>';

				    		// for(var i=0; i<c_samples.length;i++){
				    		// 	file_html +=  $scope.findFiles(c_samples[i]) + '<br />';
				    		// }
				    		// file_html += '</div>'
				    		// $('#run_files').html(file_html);



				    	}
				    }

				    $scope.showInput = function(inStr){
				    	var inJson = JSON.parse(inStr);
				    	console.log(inStr, inJson);
				    	var returnHtml ='';
				    	for(var i=0; i< inJson.length;i++){
				    		returnHtml += inJson[i].type;
				    	}
				    	return returnHtml
				    }
    }]);
    $(function(){
    	$('#tabs').tabs();
    	sessionStorage.clear();
    });
    function goNext(step){
    	
    	$('.'+step).css('pointer-events', 'all');
    	$('.'+step).click();
    	if(step =='step3'){
    		var c_wf = JSON.parse(window.sessionStorage.wf);
    		$('#run_workflow').html(c_wf.name);
    		var c_samples = JSON.parse(window.sessionStorage.samples);
    		console.log(c_samples);
    		var sample_html = '<div>';
    		for(var i=0; i<c_samples.length;i++){
    			sample_html += '<div>' + c_samples[i] + '</div>';
    		}
    		sample_html += '</div>'
    		$('#run_samples').html(sample_html);

    	}
    }
</script>
<div ng-controller="workflowsController" class="analyses">

	<div class="sub-title">  Running Analysis </div>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th> name </th>
			<th> workflow name </th>
			<th> created </th>
			<th> updated</th>
			<th> run steps </th>
		</tr>
		<tr ng-repeat="r in runrequests">
			<td> {$ r.template.name $}</td>
			<td> {$ r.template.name $}</td>
			<td> {$ r.datetime_created $}</td>
			<td> {$ r.datetime_updated $}</td>	
			<td>
	
					<div ng-repeat="step in r.run.step_runs">
						<div>
							{$ step.template.name $}
						</div>
					</div>

				
			</td>
		</tr>
	</table>
	<div class="sub-title"> run new Analysis </div>

	<div class="tabs" id="tabs">
	<ul>
		<li><a href="#step1" class="step1"> Workflows </a></li>
		<li><a href="#step2" class="step2"> Samples </a></li>
		<li><a href="#step3" class="step3"> Launch </a></li>
	</ul>	
		<div class="tab" id="step1"> 
			 <div class="menu-search"> <input type="text" ng-model="searchw"> <button> Search </button></div>
			<table class="table table-striped table-bordered table-hover table-hove-info ">
				<tr>
					<th> name </th>
					<th> ID </th>
					<th> version </th>
					<th> type </th>
					<th> inputs </th>
					<!-- <th> run </th> -->
				</tr>
				<tr ng-repeat="w in workflows | filter:searchw" ng-click="chooseWorkflow(w);" id='{$ w.id $}' class="wf">
						<td>{$ w.name $}</td>
						<td>{$ w.workflow_id $}</td>
						<td>{$ w.version $}</td>
						<td>{$ w.tname $}</td>
						<td>
							<div ng-repeat="i in w.inputsJson">
							 	<div> Type : {$ i.type $} </div>
							 	<div> Channel : {$ i.channel $} </div> 
							 </div>
							
						</td>
				</tr>
			</table>
			<div class="text-right">
			
			 <button class="next" onclick="goNext('step2');"> Next </button>
			 </div> 
		</div>
		<div class="tab" id="step2"> 
				<div class="menu-search"> <input type="text" ng-model="searchs"> <button> Search </button></div>
				<table class="table table-striped table-bordered table-hover table-hove-info ">
					<tr>
						<th> name </th>
						<th> asn </th>
						<th> type </th>
						<th> order </th>
						<th> relations </th>
						<!-- <th> run </th> -->
					</tr>
					<tr ng-repeat="s in samples | filter:searchs" ng-click="chooseSample(s);" id='{$ s.sample_id + "_" +s.order_id $}' class="sample"> 
						<td>{$ s.name $}</td>
						<td>{$ s.asn $}					</td>
						<td>	{$ s.type$}					</td>
						<td>	{$ s.order_name $}					</td>
						<td>	{$ s.rel_name $}				</td>
						<!-- <td> run </td> -->
					</tr>
				</table> 
				<div class="text-right">	
					<button class="next" ng-click="goNext('step3');""> Next </button> 
				</div>
		</div>
		<div class="tab" id="step3"> 
			<table class="table table-striped table-bordered table-hover table-hove-info ">
				<tr>
					<th> Workflow</th>
					<th> Sample / Order </th>
					<th> Files </th>
				</tr>
				<tr>
					<td> <div id="run_workflow"> </div>  </td>
					<td> <div id="run_samples"> </div>  </td>
					<td><div id="run_files" > </div>  </td>
				</tr>
				<tr id="rundiv">

				</tr>
			</table>

				<div class="text-right">	
					<button class="next" ng-click="goNext('step3');"> Launch Analysis </button> 
				</div>			
		</div>
	</div>
</div>
 <!-- <div> {{ running }}</div> -->
<!--  <div> {{ fileData }}</div>
 <div> {{ data }}</div> -->
{% endblock %}
