{% extends "workflows/workflows_base.html" %}

{% block content %}



<style>

td, th {
    padding: 5px;

}


</style>
<script type="text/javascript">
gimpdevApp.controller('workflowsController', ['$scope', function($scope) {
                {% autoescape off %}
                            $scope.workflows = [];
                 {% endautoescape %}
{% if 'gims-dev.shc.org' in request.environ.HTTP_HOST %}
                 console.log('workflows', $scope.workflows);
 {% endif %}
 		var today = new Date();
 		if(window.location.search.substr(1)){
                    var inputdate = window.location.search.substr(1).split('/');
                    sdate = inputdate[0];
                    edate = inputdate[1];

        }else{
        	if(today.getDate() < 7){
        		var lastDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 0).getDate();
        		if( today.getMonth()<1){
					sdate = (today.getFullYear()-1)+'-'+'12'+'-'+('0' + (today.getDate()+25) ).substr(-2);
        		}else{
        			sdate = today.getFullYear()+'-'+('0'+( parseInt(today.getMonth()) )).substr(-2)+'-'+('0' + (today.getDate()+(lastDayOfMonth-6)) ).substr(-2);
        		}
        	}else{
        		sdate = today.getFullYear()+'-'+('0'+( parseInt(today.getMonth())+1 )).substr(-2)+'-'+('0' + today.getDate() ).substr(-2);
        	}
                edate = today.getFullYear()+'-'+('0'+( parseInt(today.getMonth())+1 )).substr(-2)+'-'+('0' + today.getDate() ).substr(-2);
                  
        }
 		$( "#datepicker_start" ).val(sdate).datepicker({
                    dateFormat: 'yy-mm-dd',
                    defaultDate: sdate,
                    setDate: sdate,
                });
        $( "#datepicker_end" ).val(edate).datepicker({
                    dateFormat: 'yy-mm-dd',
                    defaultDate: edate,
                    setDate: edate,
                    onSelect: function(dateText) {
                        window.location = '?'+$('#datepicker_start').val()+"/"+dateText+"/";
                    }
        });    
 }]);


</script>
<div ng-controller="workflowsController" class="workflows">

<div class="">



	<div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-microscope.png" />Lab Workflows 
         <a href="{% url 'new_labwork' %}" class="right-button btn btn-primary btn-sm"> New Work </a> 
	</div>  
	  
	<div class="search"> 
		<div class="date_search" style="float: left;">
	     	 <div style="display: inline-block;"> Start Date: <input type="text" id="datepicker_start"> </div>
	      	<div style="display: inline-block;"> End Date: <input type="text" id="datepicker_end"> </div>
	      </div>
	     <div class="right-button">
			<input type="text" ng-model="searchw"> <button > Search </button>
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th> ID </th>
			<th> start date </th>
			
			<th> status </th>
			<th> type </th>
			<th> desc </th>
			<th> </th>

		</tr>
		<tr ng-repeat="w in workflows | filter:searchw"  id='{$ w.id $}' class="wf">
			<td></td>
			<td>{$ w.date $}</td>
			<td>{$ w.status $}</td>
			<td>{$ w.tname $}</td>
			<td>{$ w.desc $}</td>
			<td> <a href="/editworkflow/{$ w.id $}" >
			<button type="button" class="btn btn-secondary "> Edit </button>   </a></td>
		</tr>
	</table>



</div>

</div>

{% endblock %}
