{% extends "workflows/workflows_base.html" %}

{% block content %}



<style>
table{
	background-color: white;
}
table tr td, table tbody tr th {
    padding: 5px;

}
table .actions, table .type{
	width: 100px;
}
.tab{
	min-height: 400px;
}
.tabs a, .tab .next button{
	pointer-events: none;
}
.menu-search{
	float: right;
	margin: 10px 0;
	display: flex;
}

.run_input{
	line-height: 30px;
}
#step_input table{
	text-align: center;
}
table.borderless, table.borderless {
    border: none;
    width: 500px;
    margin: 50px auto;
}
textarea {
	width: 100%;
}
#step_names div{
	margin: 30px auto;
	width: 700px;
}
#step_names div input, #step_names div label{
	width: 300px;
}
#step_review .jjson{
	min-height: 350px;
}
</style>
<script type="text/javascript">
gimpdevApp.controller('workflowsController', ['$scope', '$http', function($scope, $http) {
                {% autoescape off %}
                           $scope.wf_types = {{ wf_types }};
                 {% endautoescape %}
if(window.location.hostname =='gims-dev.shc.org'){
                 console.log('wf_types', $scope.wf_types);
 }

 	$scope.go_step_input = function(){
 		$('.step_input').click();

 	}
 	$scope.go_step_fixed = function(){
 		$('.step_fixed').click();
 		$('#step_fixed .next .btn').addClass('btn-primary').css('pointer-events', 'all');
 		$('.step_names').css('pointer-events', 'all');
 	}
 	$scope.go_step_names = function(){
 		$('.step_names').click();
 		
 		
		
 	}
 	$scope.go_step_review = function(){
		$('.step_review').css('pointer-events', 'all');
 		$('.step_review').click();
 		$('#step_review .next .btn').addClass('btn-primary').css('pointer-events', 'all');
 		 $scope.workflow_json = {
	 		'name':$scope.wf_name, 
	 		'version': $scope.wf_version, 
	 		'inputs':angular.copy($scope.c_inputs), 
	 		'fixed_inputs':angular.copy($scope.c_fixedinputs) 
	 	};
 		$("#jjson").jJsonViewer($scope.workflow_json,{expanded: true});

 	}
	$scope.method = 'POST';
    $scope.url = '{{LOOMURL}}run-requests/';
 	$scope.go_run = function(){
 		console.log('$scope.workflow_json', $scope.workflow_json);
 		$http({method:$scope.method, url:$scope.url, data:$scope.workflow_json})
					    	.then(function(response){

					    		if(response.data.datetime_created){
					    			$scope.loomLog(response.data.id, response.data.template, response.status+'/'+response.statusText, JSON.stringify(rundata));
					    			alert('Run Request Submited - ID : '+response.data.id);
							//		window.location.href='/analyses/';
					    			
					    		}
					    		
					    	}).catch(function(response){
					    		console.log('response', response);
					    		$scope.loomLog('Error', rundata.template, response.status+'/'+response.statusText, response.data);
					    		alert('Run Failed - '+response.status+'/'+response.statusText);
					    	});
 	}
 	$scope.c_type = '';
 	$scope.c_inputs=[];
 	$scope.c_fixedinputs=[];
 	$scope.step_steps=[];
 	$scope.chooseType = function(wftype){
 		                $scope.c_type = wftype;
 		                console.log($scope.c_type);
                 		var allwf = $('.wftype');
                 		var cwf;
                 		for ( var i=0; i<allwf.length;i++){
                 			cwf = allwf[i];
                 			 if(cwf.id != wftype.id ){
                 			 	$(cwf).removeClass('info');
                 			 }else{
                 			 	$('#'+wftype.id).addClass('info');

                 			 }
                 			
                 		}
                 		$('#step_type .next .btn').addClass('btn-primary').css('pointer-events', 'all');
                 		$('.step_type').css('pointer-events', 'all');
                 		$('.step_input').css('pointer-events', 'all');
 	}
 	$scope.inputAdd = function(){
 			$scope.c_inputs.push({
 				'type':$('#input_type').val(), 
 				'channel':$('#input_name').val(),
 				'hint':$('#input_memo').val()
 			});
 			$('#step_input .next .btn').addClass('btn-primary').css('pointer-events', 'all');
 			$('.step_fixed').css('pointer-events', 'all');
 			$('.step_review').css('pointer-events', 'none');
 	}
 	$scope.inputDelete = function(ctype, cname){
 		for( var i =0; i<  $scope.c_inputs.length;i++){
 			if(ctype == $scope.c_inputs[i].type && cname == $scope.c_inputs[i].name){
 				$scope.c_inputs.splice(i,1);
 				return true;
 			}
 		}
 		$('.step_review').css('pointer-events', 'none');
 	}
 	$scope.fixedinputAdd = function(){
 			$scope.c_fixedinputs.push({'type':$('#fixedinput_type').val(), 'name':$('#fixedinput_name').val()});
 			$('.step_review').css('pointer-events', 'none');
 	}
 	$scope.fixedinputDelete = function(ctype, cname){
 		for( var i =0; i<  $scope.c_fixedinputs.length;i++){

 			if(ctype == $scope.c_fixedinputs[i].type && cname == $scope.c_fixedinputs[i].name){
 				$scope.c_fixedinputs.splice(i,1);
 				return true;
 			}
 		}
 		$('.step_review').css('pointer-events', 'none');
 	}
 	$scope.inputNames = function(){
 		if($scope.wf_name != '' && $scope.wf_version){
 			
 			$('#step_names .next .btn').addClass('btn-primary').css('pointer-events', 'all');
 		}
 		$('.step_review').css('pointer-events', 'none');
 	}

	
}]);



     $(function(){
    	$('#tabs').tabs();
    	sessionStorage.clear();
    	sessionStorage.rundata = '';
    	
   

    });
</script>
<div ng-controller="workflowsController" class="workflows">

<div class="">



	<div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-workflows.png" />  <span>Create Workflows</span> 	</div>  

	<div class="tabs" id="tabs">
		<ul>
			<li><a href="#step_type" class="step_type"> Workflow Type </a></li>
			<li><a href="#step_input" class="step_input"> Inputs  </a></li>
			<li><a href="#step_fixed" class="step_fixed"> Fixed Inputs </a></li>
			<li><a href="#step_names" class="step_names"> Name / Version </a></li>
			<li><a href="#step_review" class="step_review"> Review </a></li>
		</ul>	
		<div class="tab" id="step_type">
				<table class="table table-striped table-bordered table-hover table-hove-info ">
					<tr>
						<th> Type </th>
						<th> Desc </th>
					</tr>
					<tr ng-repeat="wftype in wf_types" ng-click="chooseType(wftype);" class="wftype" id="{$ wftype.id $}">
						<td> {$ wftype.type $}</td>
						<td> {$ wftype.desc $}</td>
					</tr>	
				</table>
				
				<div class="text-right next">
						<button  class="next btn" ng-click="go_step_input();"> Next </button>
				</div> 
		</div> 
		<div class="tab" id="step_input">
				<div>

					
					<table class="table  table-striped table-bordered">
						<tr>
							<th class="type"> Type </th>
							<th> Name </th>
							<th> Memo </th>
							<th class="actions"> </th>
						</tr>
						<tr ng-repeat="input in c_inputs">
							<td> {$ input.type $} </td>
							<td> {$ input.name $} </td>
							<td> {$ input.memo $} </td>
							<td > <button type="button" class="button btn btn-primary btn-sm" ng-click="inputDelete(input.type, input.name);"> Delete </button> </td>
						</tr>
					</table>

					 <table class="borderless table">
						<tr >
							<td>
								<select style=" width:100%;" id="input_type"> 
									<option value="file"> File </option>
									<option value="String"> String </option>
								</select> 
							</td>
							<td> <input type="text"  id="input_name" /></td>
							<td> <input type="text"  id="input_memo" /></td>
							<td> <button type="button" class="button btn btn-primary btn-sm" ng-click="inputAdd();"> Add </button> </td>
						</tr>	
				</table>
					 
				</div>
				<div class="text-right next">
						<button  class="next btn" ng-click="go_step_fixed();"> Next </button>
				</div> 
		</div> 
		<div class="tab" id="step_fixed">
						<table class="table  table-striped table-bordered">
						<tr>
							<th class="type"> Type </th>
							<th> Name </th>
							<th class="actions"> </th>
						</tr>
						<tr ng-repeat="input in c_fixedinputs">
							<td> {$ input.type $} </td>
							<td> {$ input.name $} </td>
							<td > <button type="button" class="button btn btn-primary btn-sm" ng-click="fixedinputDelete(input.type, input.name);"> Delete </button> </td>
						</tr>
					</table>

					 <table class="borderless table">
						<tr >
							<td>
								<select style=" width:100%;" id="fixedinput_type"> 
									<option value="file"> File </option>
									<option value="String"> String </option>
								</select> 
							</td>
							<td> <input type="text" style=" width:100%;" id="fixedinput_name" /></td>
							<td> <button type="button" class="button btn btn-primary btn-sm" ng-click="fixedinputAdd();"> Add </button> </td>
						</tr>	
				</table>
				<div class="text-right next">
						<button  class="next btn" ng-click="go_step_names();"> Next </button>
				</div> 
		</div> 
		<div class="tab" id="step_names">
			<div>
				<label id="for_wf_name">  Name </label>
				<input type="text" name="wf_name" id="wf_name" ng-model="wf_name" ng-change="inputNames()"/>
			</div>
			<div>	<label id="for_wf_version">  Version </label>
				<input type="text" name="wf_version" id="wf_version" ng-model="wf_version" ng-change="inputNames()" />
			</div>
			<div>	<label id="for_wf_desc">  Description </label>
				<input type="text" name="wf_desc" id="wf_desc"/>
			</div>
				<div class="text-right next">
						<button  class="next btn" ng-click="go_step_review();"> Next </button>
				</div> 
		</div> 

		<div class="tab" id="step_review" >
			<div id="jjson" class="jjson"></div>

				<div class="text-right next">
						<button  class="next btn" ng-click="go_run();"> Create Workflow </button>
				</div> 
		</div> 
	</div>	
</div>

</div>

{% endblock %}
