{% extends "workflows/workflows_base.html" %}

{% block content %}



<style>

td, th {
    padding: 5px;

}
.jjson-container {
    max-height: 800px;
    background-color: white;
}

</style>
<script type="text/javascript">
	gimpdevApp.controller('workflowsController', ['$scope', '$sce', function($scope, $sce) {
		  var None = 'none';
                {% autoescape off %}
                            $scope.workflow = {{ workflow }};
                            
                 {% endautoescape %}
  if(window.location.hostname =='gims-dev.shc.org'){
                console.log( 'workflow', $scope.workflow);
                window.workflow = $scope.workflow;
 }
$scope.prettyjson = JSON.stringify($scope.workflow, undefined, '\t');
$scope.prettyjson = $scope.prettyjson.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    $scope.prettyjson = $scope.prettyjson.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });


$scope.deliberatelyTrustDangerousSnippet = function() {
               return $sce.trustAsHtml($scope.prettyjson);
  };

     $("#jjson").jJsonViewer($scope.workflow,{expanded: true});


    }]);

</script>
<div ng-controller="workflowsController" class="workflows">

<div class="">



	<div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-workflows.png" /> Workflow : {$ workflow['name'] $}
	{% if 'Admin' in  request.session.role or 'Manager' in  request.session.role%}            
         <a href="{% url 'define_workflows' %}"><button class="btn btn-primary btn-sm"> Define Workflows</button> </a> 

{% endif %}
	</div>  

	<div>
 			<div id="jjson" class="jjson"></div>
	</div>	



</div>

</div>

{% endblock %}
