{% extends "workflows/workflows_base.html" %}
{% block content %}
<style type="text/css">
	.form-wrapper{
		width: 800px;
	}
	.form {
		width: 800px;
		margin: 100px auto;
	}
	form label, form button{
		width: 200px;
		vertical-align: top;
		margin: 20px auto;
	}
    form input, form select, form textarea{
		width: 600px;
		margin: 20px auto;
		max-height: 100px;
	}
	form select{
		-webkit-appearance: menulist-button;
	}

</style>
<script type="text/javascript">
	gimpdevApp.controller('workflowsController', ['$scope', function($scope) {
		$scope.deleteWorkflow = function(wid){
			if(confirm('are you sure?')){
				console.log('deleted');
			}
		}
    }]);
</script>
<div ng-controller="workflowsController" class="workflows">
<div class="sub-title"> Edit Workflow </div>
<div class="form-wrapper">
            <form action="/editworkflow/{{wid}}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="text-center"> 
                 <button class="btn btn-primary"> Save </button> 
                 <button type="button" class="btn"> <a href="/workflows/ " > Cancel </a> </button> 
                 <button type="button" class="btn btn-danger" ng-click="deleteWorkflow({{wid}});"> Delete  </button> 
                 </div>
            </form>
</div>            
</div>
{% endblock content %}