{% extends "tracker/tracker_base.html" %}
{% block content %}
<script type="text/javascript">
	 gimpdevApp.controller('trackerController', ['$scope', function($scope) {
                {% autoescape off %}

                           $scope.genelists = JSON.parse('{{ genelists }}');

                                             
                 {% endautoescape %}
if(window.location.hostname =='gims-dev.shc.org'){
                console.log('genelists', $scope.genelists);

 }	
     }]);
</script>
<style type="text/css">
.name {
	text-transform: capitalize;
}

</style>

<div ng-controller="trackerController" class="tracker genelist ">


<div class="sub-title"> GeneLists</div>

<div>
<div class="menu-search"> <input type="text" ng-model="searchs"> <button> Name Search </button></div>

	                      <table class="table table-bordered table-striped table-hover">
                        <tr>
                        	<th> Category </th>
                            <th> Name </th>
                            <th> Lists </th>
                            <th> Memo</th>
                        </tr>




                        <tr ng-repeat="glist in genelists | filter:{name: searchs}">
                        	<td class="category">{$ glist.category $}</td>
                            <td class="name"> <a href="/genelist/?gid={$ glist.id $}"> {$ glist.name $} </a>  </td>
                            <td class="lists"> {$ glist.list.substring(0,100) $}      </td>
                            <td class="desc">{$ glist.desc $}</td>
                        </tr>


                        </table>

                        <a class=" btn btn-primary btn-lg" href="/GeneList/" > Add New Gene List </a> 
</div>

</div>
           
</div>
{% endblock content %}