{% extends "tracker/tracker_base.html" %}
{% block content %}

<style type="text/css">
.gridStyle {
    height: 600px;
}
.main  button{
    margin: 5px auto;
    float: right;
}

</style>
<script type="text/javascript">
    gimpdevApp.controller('trackerController', ['$scope', function($scope) {
                {% autoescape off %}

                         $scope.patients = {{ patients }};
                          $scope.spatients = {{ spatients }};
                           $scope.opatients = {{ opatients }};
                            $scope.phpatients = {{ phpatients }};

                       
                 {% endautoescape %}

{% if 'gims-dev.shc.org' in request.environ.HTTP_HOST %}
                  console.log('patients', $scope.patients, 'spatients', $scope.spatients, 'opatients', $scope.opatients, 'phpatients', $scope.phpatients);
 {% endif %}                 
                    $scope.current ={};
                    $scope.searchText = '';
                    $scope.filterOptions = { filterText: ''    };
                     $scope.gridOptions = { data: 'patients',
                        enableFiltering:true,
                        // filterOptions: $scope.filterOptions,
                        enableColumnResize : true,
                         excludeProperties: ['id'],
                   };

                    

    }]);

</script>

<div ng-controller="trackerController" class="tracker patients details">

    <div class="sub-title"> Patient: {$ patients[0].pid $} </div>
    <div class="details-top">
        <div class="main-left text-center">
            <div> <div class="label"> Medical Record Number </div> <div class="value">{$ patients[0].mrn $}</div></div>
            <div> <div class="label"> First Name </div> <div class="value">{$ patients[0].first_name $} </div></div>
            <div> <div class="label"> Last Name </div> <div class="value">{$ patients[0].last_name $}</div></div>
        </div>
        <div class="main-right text-ceneter">

            <div> <div class="label"> Gender   </div> <div class="value">{$ patients[0].sex $}</div> </div>
            <div> <div class="label"> Birth Date  </div> <div class="value">{$ patients[0].dob $}</div> </div>
            <div> <div class="label"> Ethnicity   </div> <div class="value">{$ patients[0].race $}</div> </div>
        </div>
    </div>
    <div class="main">
        <div class="main-left">
            <div  class="sub-sub-title"> Related Samples </div>
                <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Sample </th>
                        <th> Source </th>

                        <th> Type </th>

                    </tr>
                    <tr ng-repeat="p in spatients"   class="samplelist">

                        <td><a href="/sample/{$ p.sample_id $}/">{$ p.asn $}</a></td>
                        <td>{$ p.source $}</td>
         
                        <td>{$ p.type $}</td>

                    </tr>
                </table>
        </div>
       <div class="">
                        <div  class="sub-sub-title"> Related Orders </div>
                <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Order </th>
                        <th> Order Type </th>
                        <th> Status </th>
                        <th> Phenotypes </th>

                    </tr>
                    <tr ng-repeat="p in opatients "   class="orderlist">
                        <td><a href="/order/{$ p.order_id $}/">{$ p.order_name $}</a></td>
                        <td>{$ p.order_type $}</td>
                        <td>{$ p.status $}</td>
                        <td>
                                <table class="table table-bordered table-striped table-hover">
                                <tr>

                                    <th> Name </th>
                                    <th> Date </th>

                                    <th> Type </th>
                             
                                    <th> Desc </th>
                     
                                </tr>
                                <tr ng-repeat="p in phpatients | filter:order_id=p.order_id"   class="phenolist">

                                    <td>{$ p.name $}</td>
                                    <td>{$ p.date $}</td>
                     
                                    <td>{$ p.type $}</td>
                             
                                    <td>{$ p.desc  $}</td>

                                </tr>
                                </table>
                        </td>
                    </tr>
                </table>
        </div>
 <!--                    <div  class="sub-sub-title">  Phenotypes 
{% if 'Interpretation' in  request.session.role or 'Manager' in  request.session.role%}            
                     <a href="{% url 'samples' %}"><button class="btn btn-primary btn-sm"> Add Phenotype </button> </a> 
{% endif %}       
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Name </th>
                        <th> Date </th>

                        <th> Type </th>
                 
                        <th> Desc </th>
         
                    </tr>
                    <tr ng-repeat="p in phpatients"  id='{$ p.id $}' class="phenolist">

                        <td>{$ p.name $}</td>
                        <td>{$ p.date $}</td>
         
                        <td>{$ p.type $}</td>
                 
                        <td>{$ p.desc  $}</td>

                    </tr>
                    </table>

       
        </div> -->
    </div>
</div>
{% endblock content %}