{% extends "tracker/tracker_base.html" %}
{% block content %}

<style type="text/css">
.gridStyle {
    height: 600px;
}
.main  button{
    margin: 5px auto;
    float: right;
}

</style>
<script type="text/javascript">
    gimpdevApp.controller('trackerController', ['$scope', function($scope) {
                {% autoescape off %}

                           $scope.opatients = {{ opatients }};
                            $scope.phpatients = {{ phpatients }};

                       
                 {% endautoescape %}

{% if 'gims-dev.shc.org' in request.environ.HTTP_HOST %}
                  console.log(  'opatients', $scope.opatients, 'phpatients', $scope.phpatients);
 {% endif %}                 
                    $scope.current ={};
                    $scope.searchText = '';
                    

    }]);

</script>

<div ng-controller="trackerController" class="tracker patients details">

    <div class="sub-title"> Patient: {{ patient.pid }} </div>
    <div class="details-top">
        <div class="main-left text-center">
            <div> <div class="label"> Medical Record Number </div> <div class="value">{{ patient.mrn }}</div></div>
            <div> <div class="label"> First Name </div> <div class="value">{{ patient.first_name }} </div></div>
            <div> <div class="label"> Last Name </div> <div class="value">{{ patient.last_name }}</div></div>
        </div>
        <div class="main-right text-ceneter">

            <div> <div class="label"> Gender   </div> <div class="value">{{ patient.sex }}</div> </div>
            <div> <div class="label"> Birth Date  </div> <div class="value">{{ patient.dob }}</div> </div>
            <div> <div class="label"> Ethnicity   </div> <div class="value">{{ patient.race }}</div> </div>
        </div>
    </div>
    <div class="main">
        <div class="main-left">
            <div  class="sub-sub-title"> Related Samples </div>
                <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Sample </th>
                        <th> Source </th>

                        <th> Type </th>

                    </tr>
                    {% for s in samples %}
                    <tr class="samplelist">

                        <td><a href="/sample/{{ s.id }}/">{{ s.asn }}</a></td>
                        <td>{{ s.source }}</td>
         
                        <td>{{ s.type }}</td>

                    </tr>
                    {% endfor %}

                </table>
        </div>
       <div class="">
                        <div  class="sub-sub-title"> Related Orders </div>

                <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Order </th>
                        <th> Order Type </th>
                        <th> Status </th>
                        <th> Phenotypes </th>

                    </tr>
                    {% for o in orders %}
                    <tr>
                        <td><a href="/order/{{ o.id }}/">{{ o.order_name }}</a></td>
                        <td>{{ o.type.type_name }}</td>
                        <td>{{ o.status.status_name }}</td>
                        <td> 
                         <table class="table table-bordered table-striped table-hover">
                                <tr> <th> HPO ID </th>
                                    <th> Name </th>
                                </tr>
                                {% for p in phenotypes %}

                                    {% if p.order_id == o.id %}
                                    <tr class="phenolist">

                                        <td>{{p.acc}}</td>
                                        <td>{{p.name}}</td>

                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </table>

                        </td>
                    </tr>
                    {% endfor %}

                </table>
        </div>
 <!--                    <div  class="sub-sub-title">  Phenotypes 
{% if 'Interpretation' in  request.session.role or 'Manager' in  request.session.role%}            
                     <a href="{% url 'samples' %}"><button class="btn btn-primary btn-sm"> Add Phenotype </button> </a> 
{% endif %}       
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th> Name </th>
                        <th> Date </th>

                        <th> Type </th>
                 
                        <th> Desc </th>
         
                    </tr>
                    <tr ng-repeat="p in phpatients"  id='{$ p.id $}' class="phenolist">

                        <td>{$ p.name $}</td>
                        <td>{$ p.date $}</td>
         
                        <td>{$ p.type $}</td>
                 
                        <td>{$ p.desc  $}</td>

                    </tr>
                    </table>

       
        </div> -->
    </div>
</div>
{% endblock content %}