{% extends "tracker/tracker_base.html" %}
{% block content %}
<script type="text/javascript">
gimpdevApp.controller('trackerController', ['$scope',  function($scope) {
	{% autoescape off %}
	 	$scope.phenotypes = JSON.parse('{{ phenotypes }}');
	 		$scope.fieldsList=[];	
           for(var i=0;i<$scope.phenotypes.length; i++){
           		$scope.phenotypes[i].fields.id = $scope.phenotypes[i].pk;
               $scope.fieldsList.push($scope.phenotypes[i].fields);
           }
 if(window.location.hostname =='gims-dev.shc.org'){
                 console.log('phenotypes', $scope.phenotypes);
 }                        
   {% endautoescape %}
   		$scope.onRowClick = function(pid){
   			window.location.href ='/phenotype/?pid='+pid;
   		};
         $scope.gridOptions = { 
                        data: 'fieldsList',
                        enableFiltering:true,
                        enableColumnResize : true,
                        excludeProperties: ['id', 'geno_list', 'date'],
                        enableSorting: true, 
                        columnDefs: [
						      {
						        field: 'name',
						        sort: {
						          direction: 'asc',
						          priority: 1
						        },
						        cellTemplate:'<div class="ui-grid-cell-contents " ng-click="grid.appScope.onRowClick(row.entity.id);"> {$ COL_FIELD $}  </div>'
						      },
						  		{
						       		field: 'type', width:'150',
							   },
							   {
							       field:'desc'
							   },
							   { field:'image'}

						   ],                 
        };


 }]);

</script>
<style type="text/css">
	.form-wrapper{
		width: 800px;
		margin: auto;
	}
	form {
		width: 800px;
		margin: 50px auto;
	}
	form label{
			width: 20%;
			margin: 10px 50px;
			vertical-align: top;
	} 
	form input, form select, form textarea{
		width: 60%;
		margin: 20px auto;
	} 
	form input[type=file] {
		display: inline-block;
	}
	form button{
		width: 300px;
		margin: 20px auto;
	}
	p {margin: 50px auto;}
	.ui-grid-header-cell-row{
		text-align: center;
	}
	.ui-grid-cell-contents{
		margin-left: 20px;
	}
</style>
<div ng-controller="trackerController" class="phenotype">
<div class="sub-title"> Phenotypes  </div>
<div class="phenotype">
    <div class="list" id="phenotype-grid">
        <div class="gridStyle" ui-grid="gridOptions "></div>
    </div>

</div>
<p>
             <button type="button" class="btn btn-default"> <a href="/phenotype/" > Add new Phenotype </a> </button>
</p>            
</div>
{% endblock content %}