{% extends "tracker/tracker_base.html" %}
{% block content %}
<style type="text/css">
	.form-wrapper{
		width: 800px;
		margin: 50px auto;
	}
	.form {
		width: 700px;
		margin: 50px auto;
	}
	form label, form input, form select{
		width: 300px;
		margin: 20px auto;
	}
	form .actions input{
		width: 200px;
	}
	.alert{
		width: 600px;
	}
	}
</style>
<script type="text/javascript">
jQuery(document).ready(function() {
	if(window.location.search.indexOf('oid') >=0 ){
		var cur = $('#id_order').val();
		console.log(cur);
		 $('#id_order option').prop('disabled', true);	
		 $('#id_order option[value='+cur+']').prop('disabled', false);	
	}
	if(window.location.search.indexOf('sid') >=0 ){
		var cur = $('#id_sample').val();
		 $('#id_sample option').prop('disabled', true);	
		 $('#id_sample option[value='+cur+']').prop('disabled', false);
	}
});
function formSubmit(action){

	if( action =='delete' && confirm('are you sure to delete?')){
		$('#relForm').find("input[name=action]").val(action);	
		$('#relForm').submit();
	}else{
		$('#relForm').find("input[name=action]").val(action);
		$('#relForm').submit();
	}

}
</script>
<div class="tracker">
<div class="sub-title"> 

    {% if 'add' in action %}
    	Add 
    {% else %}
    	 Edit 
    {% endif %} 
Sample Order Relationship </div>

<div class="form-wrapper">
		{% if message %}
		<div class="alert alert-info"> {{message}} </div>
		{% endif %}
            <form action="/sampleorderrel/" method="post" id="relForm">
                {% csrf_token %}
                {{ form }}
                  
              <div class="actions">

              {% if 'add' in action %}
                <input type="submit"  name="action"  value='Add' class="btn btn-primary btn-sm"  />   
                 <input type="button" class="btn btn-sm" value='Cancel' onclick="window.history.back();" />   
                {% else %}

                 <input type="text"  name="action"  value='Save' onclick="formSubmit('edit');" class="btn btn-primary btn-sm"  />   
 				<input type="button" class="btn btn-sm" value='Cancel' onclick="window.history.back();" />   
                 <input type="text" value="Delete" onclick="formSubmit('delete');" class="btn btn-primary btn-sm"  />   
               {% endif %}
               
            </div>  				
               
            </form>

           
</div>            
</div>
{% endblock content %}