{% load staticfiles %}
 <script src="{% static 'JS/main.js' %}" ></script>
 <div id="footer" class="main-footer">
{% load custom_filter %}
<p>
    <a target="_self" class="footer" href="http://portal.stanfordmed.org/depts/">Site Map</a><span class="Seperator">|</span>
    <a target="_self" class="footer" href="/searchcenter/Pages/advanced.aspx">Advanced Content Search</a><span class="Seperator">|</span>

    <a href="/privacy/" id="a_privacy" target="_self" class="footer">Privacy</a><span class="Seperator">|</span>
    <a target="_blank" class="footer" href="http://portal.stanfordmed.org/depts/ComplianceDepartment/Documents/Code%20of%20Conduct%20Handbook.pdf">Code of Conduct</a>
    <br>
    <a target="_blank" class="footer" href="http://stanfordhealthcare.org">Stanford Health Care</a><span class="Seperator">|</span>
    <a target="_blank" class="footer" href="http://www.stanfordchildrens.org">Stanford Children's Hospital</a><span class="Seperator">|</span>
    <a target="_blank" class="footer" href="https://intranet.lpch.org/">Stanford Children's Hospital Intranet</a>
    <br>
    <a target="_blank" class="footer" href="http://med.stanford.edu/">Stanford School of Medicine</a><span class="Seperator">|</span>
    <a target="_blank" class="footer" href="http://lane.stanford.edu/index.html">Lane Library</a><span class="Seperator">|</span>
    <a target="_blank" class="footer" href="http://www.stanford.edu/">Stanford University</a>
    <div> LOOMUI version : {% tag_git_branch %}</div>
</p>
</div>