<!doctype html>{% load staticfiles %}

<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title> inventory Project </title>
    <meta name="description" content="" >

    <script src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="{% static 'angular.min.js' %}"></script>

  <script src="{% static 'jquery-ui.js' %}"></script>
    <script src="{% static 'ui-grid.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
    <script src="{% static 'ui-grid.min.css' %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">

       <script type="text/javascript">
        var shipmentApp = angular.module('myApp', []);
        shipmentApp.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('**');
                 $interpolateProvider.endSymbol('**');
        });
        </script>
</head>
{% comment %}
for block right click
<body oncontextmenu="return false;">
{% endcomment %}
<body >
    {% block content %}
    {% endblock content %}
    <script src="{% static 'main.js' %}" ></script>
</body>
</html>