{% extends "index_base.html" %}
{% block content %}
{% include "top_header_menu.html" %}
{% load staticfiles %}

  <link rel="stylesheet" href="{% static 'CSS/daterangepicker.css' %}">
 <script src="{% static 'JS/moment.js' %}" ></script>
 <script src="{% static 'JS/daterangepicker.js' %}" ></script>
    <style>
        .status, .report{
            width: 800px;
            border-radius: 20px;
            padding: 20px 20px 50px 50px;
            margin: 20px auto;
            background-color: bisque;
        }
        .report{
            position:relative;
         }
         .report .datarange{
            position: absolute;
            left:200px;
            top:10px;
         }
         input#daterange{
            font-size: 16px;
            border-radius: 5px;
            padding: 5px;
            width: 200px;
        }
 
        .activity{
            display: inline-block;
            margin: 10px;
            width:300px;
            text-align:center;
        }
        .activity .chart{
            margin-left:60px;
        }


        .logbox{
            width: 430px;
        }

        .content{
            clear: both;
        }


        .activity .actual{
            position: relative;
            top: -100px;
        }
        .activity .actual span{
            font-size: 20px;
        }
        .queue .bar{
            width:620px;
            height: 40px;
        }
        .queue .bar div{
            display: inline-block;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .queue .pending, .queue .assigned{
            background-color: green;    
        }
        .queue .ready, .queue  .processing{
            background-color: orange;    
        }
        .queue .overdue{
            background-color: red;    
        }
        .queue .bar .ready, .queue .bar .assigned{
            width: 60px;  
        }
        .queue .bar .processing{
            width:300px;   
        }
        .queue .bar .pending, .queue .bar .overdue{
            width: 90px;  
        }
        .queue .bar .detail {
            display: none;
            position: absolute;
            height: 60px;
            width: 150px;
            border-radius: 10px;
            color:white;
        }
        .queue .color{
            width: 10px;    
            display: inline-block;
        } 
        .queue .number{
            display:inline-block;width:200px;
        } 

    </style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);


      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'Facility1', 'Facility2', 'Facility3', 'Facility4', 'Facility5', 'Average'],
         ['2016/05',  20,      3,         5,             9,           4,      8.2],
         ['2016/06',  10,      5,        5,             12,          2,      6.8],
         ['2016/07',  14,      6,        5,             8,           3,      7.2]
      ]);

    var options = {
 
      title : 'Monthly Order request by Facility',
      vAxis: {title: 'Orders'},
      hAxis: {title: 'Month'},
      seriesType: 'bars',
      series: {5: {type: 'line'}},
      chartArea:{width:'70%'}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<div class="status">
    <h3> Order Status  </h3>
    <h4> Stage Queue </h4>
    <div class="queue" id="order_status">
        <div class="bar">
            <div id="ready" class="ready"> 2   <div class="detail ready"> this is details about ready</div></div> 
            <div id="assigned" class="assigned"> 3  <div class="detail assigned"> this is details about assigned</div></div>
            <div id="processing" class="processing"> 10   <div class="detail processing"> this is details about processing</div></div> 
            <div id="pending" class="pending"> 2 <div class="detail pending"> this is details about pending</div></div> 
            <div id="overdue" class="overdue"> 3 <div class="detail overdue"> this is details about overdue</div></div> 
        </div>

        <div> <span> Total Orders : </span> <span> 20 </span></div>
        <div class="number">
            <div> <div class="color ready"> &nbsp;</div> <span> Ready : </span> <span> 2 (10%)</span></div>
            <div> <div class="color assigned"> &nbsp;</div><span> Assigned : </span> <span> 3 (15%)</span></div>
        </div>  
        <div class="number">
            <div> <div class="color processing"> &nbsp;</div><span> Orders in Process : </span> <span> 10 (50%) </span></div>
            <div> <div class="color pending"> &nbsp;</div><span> Pending Orders : </span> <span> 2 (10%)</span></div>

        </div>
        <div class="number">

            <div> <div class="color overdue"> &nbsp;</div><span> Overdue Orders : </span> <span> 3 (15%)</span></div>
        </div>
    </div>


</div>
<div class="report">
        <h3>  Report  </h3>
        <div  class="pull-right datarange">
         For Period : <input type="text" name="daterange" id='daterange' value="07/15/2016 - 08/15/2016">
        </div>
        <div class="activity">
           <h4>  Order Processing rate  </h4>
            <div class="chartbox">
             <div class="data">  35 / 200 </div>
                <div class="chart">
                    <span class="" id="progress_1" ></span>
                </div> <br />
                <div class="actual"><span id="actual_1" ></span> %</div>
                
            </div>


        </div>

        <div class="activity">
            <h4>  Order Completion Rate </h4>
            <div class="chartbox">
             <div class="data">  180 / 200 </div>
                <div class="chart">
                    <span class="" id="progress_2" ></span>
                </div> <br />
                <div class="actual"><span id="actual_2" ></span> %</div>
               
            </div>

        </div>

        <div id="chart_div" style="width: 700px; height: 200px;"></div>

</div>

<div class="status">

</div>
 <script src="{% static 'JS/dashboard.js' %}" ></script>


{% endblock content %}

