{% extends "base.html" %}
{% block content %}
<script type="text/javascript">

function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}
var maindiv = htmlDecode('{{maindiv}}');
var maindiv2 = htmlDecode('{{maindiv2}}');
$(function() {
    console.log('maindiv', maindiv);
    $('#maindiv').html(maindiv);
     $('#maindiv2').html(maindiv2);
});
  
</script>
<style type="text/css">
  .main_body .image-wrapper{
    float: left;
  }
  .main_body ul li{
    list-style: none;
  }
  a h4{
    text-decoration: none;
    color: black;
  }
  .message {
    margin-left: 20px;
    font-weight: bold;
  }
</style>
<div class="main_body col-md-8">
    <div class="announce ">
        <div class="title"> <h4>Announcement</h4> </div>
        <div class="message"> {{announce}}   </div>
    </div>
    <div class="news  hidden-xs">
         <div class="title"> <h4>News</h4> </div>
        <div class="media_slider_main_content">
                <div id="maindiv"> 
   
                  </div>
                  <div id="maindiv2"> 
  
                  </div>
        </div>
    </div>
</div>
<div class="login text-center  col-md-4">
            <h4  class="text-center">Login to GIMPDEV </h4>

            {% if errors %}
              <div class="alert alert-danger" role="alert">
                <strong>Errors:</strong>
                <ul class="list-unstyled">
                    {% for err in errors %}
                      <li>{{err}}</li>
                    {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if not_auth_warn %}
              <div class="alert alert-danger" role="alert">Not authenticated</div>
            {% endif %}

            {% if success_slo %}
              <div class="alert alert-success" role="alert">Successfully logged out</div>
            {% endif %}

            {% if paint_logout %}
              {% if attributes %}
                <table class="table table-striped">
                  <thead>
                    <th>Name</th><th>Values</th>
                  </thead>
                  <tbody>
                    {% for attr in attributes %}
                      <tr><td>{{ attr.0 }}</td>
                      <td><ul class="list-unstyled">
                        {% for val in attr.1 %}
                          <li>{{ val }}</li>
                        {% endfor %}
                      </ul></td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <div class="alert alert-danger" role="alert">You don't have any attributes</div>
              {% endif %}
              <a href="{% url 'saml_index' %}?slo" class="btn btn-danger">Logout</a>
            {% else %}
                <a href="{% url 'saml_index' %}?sso2" class="btn btn-info" id="btn-login">Login using SSO </a>
            {% endif %}

</div>


{% endblock content %}