<!-- plain base html for without login check [ open to the public ] -->
<!doctype html>
{% load staticfiles %}
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title> GIMS - {{title}} </title>
    <meta name="description" content="" >
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">  
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <script src="{% static 'JS/jquery-2.2.4.min.js' %}" ></script>
</head>
<body >
    <div class=" main-header">
        <div class="logo-section">
            <div class="logo"><img src="{% static 'IMAGES/shc_logo_V2.png' %}" /> </div>
            <div class="logo"><img src="{% static 'IMAGES/sm_logo.png' %}" /> </div>
            <div class="logo"><img src="{% static 'IMAGES/sch_logo.png' %}" /> </div>
        </div>
    </div>

    <div class="mainblock container" data-url="{{request.get_full_path}}">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "common_footer.html" %}

</body>
</html>