<div class="menu-wrapper">

    {% if user.is_authenticated %}
        <div class="menu active">
                <a href="/" > Dashboard </a>
        </div>
        <div class="menu">
                <a href="/" > Track Sample </a>
        </div>

        <div>

        </div>
         <div class="right">
            <a class="menu" href="{% url 'logout' %}" > Logout</a>
        </div>

        <div class=" user right">
            {{user}}
        </div>

    {% else %}
        <div class="menu right">
             <a href="{% url 'login' %}" > Login </a>
        </div>
    {% endif %}

</div>