<!-- base html for without login -->
<!doctype html>
{% load staticfiles %}
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title> GIMS - {{title}} </title>
    <meta name="description" content="" >
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/jquery-ui.css' %}">    
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">

    <script src="{% static 'JS/jquery-2.2.4.min.js' %}" ></script>
</head>
<body >


    <div class="mainblock " data-url="{{request.get_full_path}}">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "common_footer.html" %}

</body>
</html>